@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@200;500&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #3498DB;
}

.wrapper{
  height: 15vw;
  background-color: #FFFFFF;
  max-width: 410px;
  border-radius: 10px;
  padding: 16px 25px;
  transition: height 0.2s ease;
}

.wrapper .active{
  height: 30vh;
}

.header h1{
  font-size: 2rem;
  font-weight: 500;
}

.header p{
  margin-top: 5px;
  color: #000000;
  font-size: 1rem;
}

.wrapper .form{
  margin: 20px 0 30px;
}

.form :where(input , button){
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 5px;

}

.form input{
  font-size: 1.1rem;
  padding: 0 17px;
  border: 1px solid #9999;
}

.form button{
  color: #ffffff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.1rem;
  background-color: #3498DB;
}

.wrapper .qr-code{
  display: flex;
  padding: 33px 0;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  border: 1px solid #c4c4c4;
  opacity: 0;
}

.wrapper .active .qr-code{
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.05s ease;
}